
.center_align {
    text-align: center;
}

.card_design {
    border-style: solid;
    border-color: #446E9B;
    border-width: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }



.img_border {
    border: 10px solid black;
}
